@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-image: url('images/bg_gif.gif');
  background-size: cover;
  /*background: linear-gradient(to bottom right, #7a5fd1, #a39a83); /* kept from scene */
  background-color: #b3ecff; /* used as fallback */
  /*overflow: hidden;*/
  
}

.desktop {
  /*display: flex;
  justify-content: center;
  align-content: flex-start;*/
  width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 10px 0 10px 0;
  backdrop-filter: blur(5px);
}


.window {
  width: 800px;
  border: 4px solid #000;
  background-color: #fbe8f0;
  box-shadow: 4px 4px #000;
  margin: 10px 0 10px 0;
}

.head{
  height: 135.2px;
}

.title-bar {
  background: linear-gradient(to right, #caa6db, #e9bbc7);
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
  border-bottom: 2px solid #000;
}
.title{
    font-size: 20px;
    color: #000;
}
.window-controls button {
  font-family: monospace;
  font-size: 14px;
  border: 2px solid #000;
  background-color: #fff;
  margin-left: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-bar {
  background-color: #fff;
  color: #000;
  padding: 4px 10px;
  border-bottom: 2px solid #000;
  font-size: 12px;
}

.menu-bar span {
  margin-right: 20px;
}

.exit:hover {
    background-color: #ff5757;
}

.minus:hover {
    background-color: #79cfde;
} 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.content h2{
    text-align: center;
    margin: 20px 0 20px 0;
}

.moodlist{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.moodlist button{
  width: 120px;
  border: none;
  background: none;
  backdrop-filter: brightness(100%);
  cursor: pointer;
  transition: 0.1s ease;
  margin: 3px auto;
}
.moodlist button:hover{
  backdrop-filter: sepia(90%);
  width: 140px; 
}
.mood-img{
  width: 100px;
  height: 100px;
  /*width: 100%;*/
  margin: 5px 0 5px 0;
}
.moodspan{
  font-family: 'Press Start 2P';
  font-size: 14px;
}
.story{
  margin: 10px 10px 10px;
  display: flex;
  /*justify-content: space-between;*/
}

#entry-content{
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 10px 10px 10px 10px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}
#entry-content::placeholder{
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}
input:focus::placeholder{
  color: transparent;
}
.reaction-doodle{
  width: 250px;
  height: 250px;
} 
.reaction div{
  width: 250px;
  min-height: 150px;
  background-color: #000;
}
.reaction p{
  color: #fff;
  font-size: 10px;
  padding: 5px 5px 0 5px;
  line-height: 1.5;
}
#diary-form{
  position: relative;
  width: 100%;
  font-size: 10px;
  line-height: 1.5;
}

#diary-form button{
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 10px;
  /*margin-left: 540px;
  margin-top: -20px;*/
}